<header class="article-header">
  <h1>
    <a href="<%= article.url %>">
      <%= article.title %>
    </a>
  </h1>
  <time datetime="<%= article.date %>">
    <span class="date"><%= article.date.strftime("%-d %b") %></span>
    <span class="year"><%= article.date.year %></span>
  </time>
  <% if robots = article.data[:robots] %>
    ·
    originally appeared on
    <a href="<%= robots %>">robots.thoughtbot.com</a>
  <% end %>
</header>

